@import "tailwindcss";

@theme {
  --color-primary: #ec3713;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221310;
  --color-surface: #ffffff;
  --color-surface-dark: #2f1f1c;
  --font-display: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  --font-body: "Noto Sans JP", sans-serif;
  --radius-xl: 2rem;
}

:root {
  --color-text-strong: #181211;
  --color-text-strong-dark: #f4f1f0;
  --color-text-muted: #896861;
  --color-text-muted-dark: #a08d89;
  --color-border: #e6dddb;
  --color-border-dark: #3e2d2a;
  --font-display: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  --font-body: "Noto Sans JP", sans-serif;
  --radius-xl: 2rem;
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

button{
  cursor: pointer;
}
